#container {
	width: 50%;
	height:250px;
	border-style: dotted;
	border-color: #99FF66;
	padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
	background-color: #CCFF99;
}

#content {
	position: relative;
	text-align: center;
}

#playerGuess {
	position: relative;
	text-align: center;

}

#reset {
	position: relative;
	text-align: center;
}

#playAgainBtn {
	display: none;
}

#playerGuess:hover {
	background-image:none;
	background-color:#6699ff;
}

.reset:hover {
	background-image:none;
	background-color:#ff0000;
}

#hintBtn:hover {
	background-image:none;
	background-color:#FFFF00;
}